<h1 class="mt-4 text-center">Registro de vendas</h1>

<%= link_to "Adicionar registros", new_sale_path, class: "my-3 btn btn-primary"  %>

<div class="sales my-3">
  <% @sales.each do |sale| %>
    <%= render partial: 'sale_card', locals: { sale: sale } %>
  <% end %>
</div>

<h3 class="font-weight-bold mb-4">Receita Bruta Total: <%= total_gross(@sales) %></h3>